
.field, input:invalid {
  border-color: #e74c3c; /* Light red for invalid built-in states */
  border-width: 2px;;
}
/* You can add a .valid class if you want to style valid inputs too */

.field, .error-message {
  display: block;
  color: #e74c3c; /* Red for error messages */
  font-size: 0.9em;
  margin-top: 5px;
  min-height: 1em; /* Reserve space to prevent layout shifts */
}

button[type="submit"]:hover {
  background-color: #2980b9;
}